services:
  traefik:
    image: {{ traefik_image }}
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "{{ container_ports.traefik_http }}:80"
      - "{{ container_ports.traefik_https }}:443"
      - "{{ container_ports.traefik }}:8080"
      - "{{ container_ports.traefik_metrics }}:8082"
    environment:
      - TZ={{ container_timezone }}
      - CF_DNS_API_TOKEN={{ vault_cloudflare_api_token }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ container_data_root }}/traefik/traefik.yml:/traefik.yml:ro
      - {{ container_data_root }}/traefik/config:/config:ro
      - {{ container_data_root }}/traefik/letsencrypt:/letsencrypt
      - {{ container_data_root }}/traefik/logs:/var/log
    networks:
      - {{ container_network }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=secureweb"
      - "traefik.http.routers.traefik.rule=Host(`traefik.{{ cloudflare_dns_zone }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.services.traefik.loadbalancer.server.scheme=http"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

networks:
  {{ container_network }}:
    external: true
