---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Management:
    - Proxmox-1:
        icon: proxmox.png
        href: "https://pve1.{{ cloudflare_dns_zone }}"
        description: hypervisor 1
    - Proxmox-2:
        icon: proxmox.png
        href: "https://pve2.{{ cloudflare_dns_zone }}"
        description: hypervisor 2
    - PBS:
        icon: proxmox.png
        href: "https://pbs.{{ cloudflare_dns_zone }}"
        description: backup server
    - TrueNAS:
        icon: truenas.svg
        href: "https://truenas.{{ cloudflare_dns_zone }}"
        description: storage
    - Portainer:
        icon: portainer.svg
        href: "https://portainer.{{ cloudflare_dns_zone }}"
        description: docker

- Network:
    - UniFi:
        icon: unifi.svg
        href: "https://unifi.{{ cloudflare_dns_zone }}"
        description: network
    - Traefik:
        icon: traefik.svg
        href: "https://traefik.{{ cloudflare_dns_zone }}"
        description: reverse proxy
    - CrowdSec:
        icon: crowdsec.png
        href: "https://app.crowdsec.net"
        description: security
    - DNS01:
        icon: technitium.png
        href: "https://dns01.{{ cloudflare_dns_zone }}"
        description: primary dns
    - DNS02:
        icon: technitium.png
        href: "https://dns02.{{ cloudflare_dns_zone }}"
        description: secondary dns

- Media:
    - Plex:
        icon: plex.svg
        href: "https://app.plex.tv/desktop/"
        description: media server
    - Jellyfin:
        icon: jellyfin.svg
        href: "https://jellyfin.{{ cloudflare_dns_zone }}"
        description: media server
    - Jellyfin-2:
        icon: jellyfin.svg
        href: "https://jellyfin2.{{ cloudflare_dns_zone }}"
        description: media server 2
    - Immich:
        icon: immich.svg
        href: "https://immich.{{ cloudflare_dns_zone }}"
        description: photos
    - Seerr:
        icon: seerr.svg
        href: "https://seerr.{{ cloudflare_dns_zone }}"
        description: requests
    - Tautulli:
        icon: tautulli.svg
        href: "https://tautulli.{{ cloudflare_dns_zone }}"
        description: plex stats

- Downloads:
    - Radarr:
        icon: radarr.svg
        href: "https://radarr.{{ cloudflare_dns_zone }}"
        description: movies
    - Sonarr:
        icon: sonarr.svg
        href: "https://sonarr.{{ cloudflare_dns_zone }}"
        description: tv shows
    - SABnzbd:
        icon: sabnzbd.svg
        href: "https://sabnzbd.{{ cloudflare_dns_zone }}"
        description: usenet
    - qBittorrent:
        icon: qbittorrent.svg
        href: "https://qbt.{{ cloudflare_dns_zone }}"
        description: torrents

- Services:
    - Home Assistant:
        icon: home-assistant.svg
        href: "https://hassio.{{ cloudflare_dns_zone }}"
        description: home
    - Mealie:
        icon: mealie.svg
        href: "https://mealie.{{ cloudflare_dns_zone }}"
        description: recipes
    - Paperless:
        icon: paperless-ngx.svg
        href: "https://paperless.{{ cloudflare_dns_zone }}"
        description: documents
    - Grafana:
        icon: grafana.svg
        href: "https://grafana.{{ cloudflare_dns_zone }}"
        description: monitoring
    - Vaultwarden:
        icon: vaultwarden.svg
        href: "https://vault.{{ cloudflare_dns_zone }}"
        description: passwords
    - Wizarr:
        icon: wizarr.svg
        href: "https://wizarr.{{ cloudflare_dns_zone }}"
        description: invites
    - Termix:
        icon: console.svg
        href: "https://termix.{{ cloudflare_dns_zone }}"
        description: terminal
    - Forgejo:
        icon: forgejo.svg
        href: "https://git.{{ cloudflare_dns_zone }}"
        description: git forge
