services:
  watchtower:
    image: {{ watchtower_image }}
    container_name: watchtower
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: {{ resource_limits.watchtower.memory }}
          cpus: "{{ resource_limits.watchtower.cpus }}"
    environment:
      - TZ={{ container_timezone }}
      - WATCHTOWER_CLEANUP={{ watchtower_cleanup | lower }}
      - WATCHTOWER_INCLUDE_STOPPED={{ watchtower_include_stopped | lower }}
      - WATCHTOWER_SCHEDULE={{ watchtower_schedule }}
      - DOCKER_API_VERSION=1.40
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ container_network }}

networks:
  {{ container_network }}:
    external: true
