---
# yamllint configuration
# https://yamllint.readthedocs.io/en/stable/configuration.html

extends: default

rules:
  line-length:
    max: 200
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true

  braces:
    max-spaces-inside: 1

  brackets:
    max-spaces-inside: 1

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  .cache/
  *vault*.yml
  input/
  molecule/
