---
- name: Load OS-specific vars
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
        - main.yml
      paths:
        - vars

- name: Setup Docker on Debian/Ubuntu
  ansible.builtin.import_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Install Docker packages
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: "{{ docker_packages_state }}"
  notify: restart docker

- name: Install docker-compose plugin
  ansible.builtin.apt:
    name: "{{ docker_compose_package }}"
    state: "{{ docker_compose_package_state }}"
  when: docker_install_compose_plugin | bool
  notify: restart docker

- name: Ensure /etc/docker/ directory exists
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: '0755'
  when: docker_daemon_options.keys() | length > 0

- name: Configure Docker daemon options
  ansible.builtin.copy:
    content: "{{ docker_daemon_options | to_nice_json }}"
    dest: /etc/docker/daemon.json
    mode: '0644'
  when: docker_daemon_options.keys() | length > 0
  notify: restart docker

- name: Ensure Docker is started and enabled
  ansible.builtin.service:
    name: docker
    state: "{{ docker_service_state }}"
    enabled: "{{ docker_service_enabled }}"
  when: docker_service_manage | bool

- name: Ensure handlers are notified now
  ansible.builtin.meta: flush_handlers

- name: Add users to docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker_users }}"
  when: docker_users | length > 0
