---
docker_apt_arch: "{{ 'arm64' if ansible_facts['architecture'] == 'aarch64' else 'amd64' }}"

# Map unsupported release codenames to the nearest supported Docker release
docker_release_codename_map:
  trixie: bookworm
  forky: bookworm

docker_apt_release_codename: "{{ docker_release_codename_map[ansible_facts['distribution_release']] | default(ansible_facts['distribution_release']) }}"
docker_apt_repository: >-
  deb [arch={{ docker_apt_arch }} signed-by=/etc/apt/keyrings/docker.asc]
  {{ docker_repo_url }}/{{ ansible_facts['distribution'] | lower }}
  {{ docker_apt_release_codename }} {{ docker_apt_release_channel }}
docker_apt_ignore_key_error: true
docker_apt_gpg_key: "{{ docker_repo_url }}/{{ ansible_facts['distribution'] | lower }}/gpg"
