services:
  crowdsec:
    image: {{ crowdsec_image }}
    container_name: crowdsec
    restart: unless-stopped
    user: "{{ container_puid }}:{{ container_pgid }}"
    environment:
      - TZ={{ container_timezone }}
      - COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve
{% if vault_crowdsec_enroll_key is defined and vault_crowdsec_enroll_key != "" %}
      - ENROLL_KEY={{ vault_crowdsec_enroll_key }}
{% endif %}
    volumes:
      - {{ container_data_root }}/crowdsec/config:/etc/crowdsec
      - {{ container_data_root }}/crowdsec/data:/var/lib/crowdsec/data
      - {{ container_data_root }}/traefik/logs:/var/log/traefik:ro
    ports:
      - "127.0.0.1:{{ container_ports.crowdsec_api }}:8080"
      - "{{ container_ports.crowdsec_metrics }}:6060"
      - "{{ container_ports.crowdsec_waf }}:7422"
    networks:
      - {{ container_network }}

networks:
  {{ container_network }}:
    external: true
