version: '3.8'

services:
  {{ service_name }}:
    image: {{ docker_image }}
    container_name: {{ container_name }}
    ports:
{% for port in ports %}
      - "{{ port }}"
{% endfor %}
{% if environment is defined %}
    environment:
{% for key, value in environment.items() %}
      - {{ key }}={{ value }}
{% endfor %}
{% endif %}
    restart: unless-stopped
{% if labels is defined %}
    labels:
{% for label in labels %}
      - "{{ label }}"
{% endfor %}
{% endif %}
{% if volumes is defined %}
    volumes:
{% for volume in volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if networks is defined %}
    networks:
{% for network in networks %}
      - {{ network }}
{% endfor %}
{% endif %}

{% if networks is defined %}
networks:
{% for network in networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
