---
- name: Ensure Pi-hole config directory exists
  ansible.builtin.file:
    path: /etc/pihole
    state: directory
    mode: '0755'

- name: Copy Pi-hole custom DNS configuration
  ansible.builtin.copy:
    src: files/config/pihole/
    dest: /etc/pihole/
    owner: root
    mode: '0644'
    backup: true
  notify: restart pihole

- name: Restart Pi-hole DNS
  ansible.builtin.command: pihole restartdns
  changed_when: false
