services:
  portainer:
    image: {{ portainer_image }}
    container_name: portainer
    restart: unless-stopped
    environment:
      - TZ={{ container_timezone }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ container_data_root }}/portainer:/data
    ports:
      - "{{ container_ports.portainer }}:9000"
    networks:
      - {{ container_network }}

networks:
  {{ container_network }}:
    external: true
